.footnotes{
        position: relative;
        padding-top: 50px;
        // background-color: #000000;
        p{
            font-size: 12px;
            font-weight: 200;
            line-height: 18px;
            color: #808080;
            margin-bottom: 20px;

            sup{
                font-size: 9px;
            }
        }

        a{
            color: $color-aqua;
        }

    }