

@font-face {
    font-family: 'Roboto';
    src: url('roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
         url('roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
         url('roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
	url('roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
	url('roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto_medium_macroman/Roboto-Medium-webfont.eot');
    src: url('roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'),
         url('roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
         url('roboto_medium_macroman/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto_bold/Roboto-Bold-webfont.eot');
    src: url('roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto_black/Roboto-Black-webfont.eot');
    src: 
        url('roboto_black/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto_black/Roboto-Black-webfont.woff') format('woff'),
         url('roboto_black/Roboto-Black-webfont.ttf') format('truetype'),
         url('roboto_black/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: 900;
    font-style: normal;

}




